spring-api/HELP.md
target/
!spring-api/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
spring-api/.idea
.idea
.idea_modules
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.settings/

### React Native ###
# Dependencies
react-native-dev/node_modules/
react-native-dev/.expo/
react-native-dev/.expo-shared/
# Builds
react-native-dev/android/build/
react-native-dev/android/app/build/
react-native-dev/ios/build/
# Cache/ambiente
react-native-dev/.env
react-native-dev/.metro-cache/
react-native-dev/*.log